body {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #ffff; }

header {
  position: absolute;
  top: 0;
  height: 90px;
  z-index: 10;
  width: 100%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  header .logo object:last-child {
    display: none; }
  header > div {
    width: 1440px; }
  header .row {
    padding-top: .8rem; }

.hidden-svg {
  display: none; }

.header-scroll {
  background-color: #ffff; }
  .header-scroll .header-help__btn-help {
    border-color: #004d80;
    color: #004d80; }
  .header-scroll .header-help__btn-call {
    display: none; }
  .header-scroll ul li {
    color: #0b2a37; }
  .header-scroll .logo object:first-child {
    display: none; }
  .header-scroll .logo object:last-child {
    display: block; }
  .header-scroll .menu {
    color: #0b2a37; }
    .header-scroll .menu__gamburger span {
      background-color: #0b2a37; }
    .header-scroll .menu__gamburger::before, .header-scroll .menu__gamburger::after {
      background-color: #0b2a37; }

ul {
  list-style-type: none; }

h1, h2, h3, h4, h5 {
  color: #ffff;
  text-align: center; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: inherit; }

h1 {
  color: #8ae2e2;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.25; }

h2 {
  font-size: 3.625rem;
  font-weight: 900;
  line-height: 1.724; }

h4 {
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.462; }

h5 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2.111; }

.btn-default {
  background-color: transparent;
  border: 2px solid #ffff;
  -webkit-border-radius: .375rem;
  border-radius: .375rem;
  padding: .75rem;
  font-weight: bold;
  color: #ffff;
  cursor: pointer;
  text-transform: uppercase; }

.btn-red {
  background-color: #ff5151;
  border: none; }

.btn-big {
  display: block;
  margin: 0 auto;
  width: 17.125rem;
  padding: 1.562rem 0 1.562rem 0;
  text-align: center; }

.header-help {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-help__help-buttons {
    margin-left: 1.875rem;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .header-help__help-buttons > button {
      margin-right: 0.312rem; }
  .header-help__btn-help {
    width: 10.31rem; }
    .header-help__btn-help i {
      vertical-align: text-bottom;
      padding-right: 4px; }
  .header-help__btn-call {
    width: 6.25rem; }

.login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1.125rem; }
  .login__block {
    margin: 0 2.43rem 0 0;
    padding: 0;
    text-align: right; }
    .login__block li {
      display: inline-block;
      color: #ffff;
      vertical-align: middle;
      cursor: pointer; }
      .login__block li + li {
        margin-left: 2.93rem; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffff;
  cursor: pointer; }
  .menu__gamburger {
    height: 1.437rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-right: .56rem; }
    .menu__gamburger span {
      display: block;
      height: 3px;
      width: 1.875rem;
      background-color: #ffff;
      -webkit-border-radius: 1rem;
              border-radius: 1rem; }
    .menu__gamburger::before, .menu__gamburger::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 1.875rem;
      background-color: #ffff; }
    .menu__gamburger::before {
      top: 0; }
    .menu__gamburger::after {
      bottom: 0; }

.hero {
  height: 100vh;
  min-height: 46.87rem;
  background: url("../img/hero1.jpg") no-repeat top;
  -webkit-background-size: cover;
          background-size: cover; }

.hero-text {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .hero-text h1 {
    margin: 0 0 1.375rem 0; }
  .hero-text h2 {
    margin: 0 0 2.437rem 0; }
  .hero-text h4 {
    margin: 0 0 2.812rem 0; }
  .hero-text b {
    color: #8ae2e2; }

.caregiven {
  background-color: rgba(223, 240, 240, 0.5);
  padding: 2.125rem 0 1.812rem 0;
  margin: 0;
  color: #0b2a37; }
  .caregiven b {
    color: #8ae2e2; }

.categories {
  padding-bottom: 8.75rem; }
  .categories-specialist__title {
    margin: 6.437rem 0 5rem 0;
    color: #0b2a37;
    font-size: 2.25rem;
    font-weight: 900; }

.specialist-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .specialist-list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 15.62rem;
        -ms-flex: 1 1 15.62rem;
            flex: 1 1 15.62rem;
    margin: 2.81rem; }
    .specialist-list__item h4 {
      margin: 1.87rem 0;
      font-size: 1.375rem;
      font-weight: 700;
      line-height: 1.182;
      color: #0b2a37; }
    .specialist-list__item p {
      margin: 0;
      color: #0b2a37; }

.how-working {
  background-color: #66cfcf;
  padding-bottom: 7rem; }

.working-title h2 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.25;
  text-align: left;
  margin: 11.25rem 0 4.437rem 0; }

.working-title button {
  margin: 0; }

.icon {
  width: 3.75rem;
  height: 3.75rem;
  position: relative; }
  .icon::after {
    content: '';
    position: absolute;
    width: 3.75rem;
    height: 3.75rem;
    background-image: url("../img/svg/ellipse.svg");
    -webkit-background-size: cover;
            background-size: cover; }

.search-icon {
  background: url("../img/svg/magnifier.svg") no-repeat center center; }

.arrow-icon {
  background: url("../img/svg/arrow.svg") no-repeat center center; }

.hourglass-icon {
  background: url("../img/svg/hourglass.svg") no-repeat center center; }

.dollar-icon {
  background: url("../img/svg/dollar.svg") no-repeat center center; }

.working-list {
  padding-top: 5.81rem;
  margin-left: 5.62rem; }
  .working-list > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .working-list > div:nth-child(2) {
      margin: 3rem 0 1rem 0;
      padding-left: 9rem; }
    .working-list > div:last-child {
      margin-top: 3.5rem;
      padding-left: 9rem; }
  .working-list .list-content {
    max-width: 13.06rem;
    position: relative; }
    .working-list .list-content::after {
      content: '';
      top: 1.8rem;
      left: 15.375rem;
      position: absolute;
      width: 16rem;
      height: 11.5rem;
      background: url("../img/connection-arrow.png") no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain; }
    .working-list .list-content__title {
      color: #ffff;
      margin: 1.25rem 0 0.875rem 0;
      font-size: 1.375rem;
      font-weight: 700;
      line-height: 1.182; }
    .working-list .list-content__text {
      color: #ffff;
      margin: 0;
      font-weight: 400;
      line-height: 1.375; }
    .working-list .list-content_first {
      margin-left: 1.25rem;
      word-break: break-all; }
    .working-list .list-content_second {
      max-width: 14.56rem;
      margin-right: 1.25rem;
      text-align: right; }
      .working-list .list-content_second::after {
        top: 2.25rem;
        left: -16.375rem;
        -webkit-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
                transform: scale(-1, 1); }
    .working-list .list-content_third {
      margin-left: 1.25rem;
      max-width: 15.31rem; }
      .working-list .list-content_third::after {
        top: 2.25rem; }
    .working-list .list-content_four {
      margin-right: 1.25rem;
      max-width: 14.94rem;
      text-align: right; }
      .working-list .list-content_four::after {
        content: none; }

.our-clients__title {
  margin: 6.25rem 0 5rem 0;
  color: #0b2a37;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 2.778; }

.our-clients .clients-comments {
  margin-bottom: 5.87rem; }

.client-say__text {
  margin: 0 auto 1.43rem;
  max-width: 25.62rem;
  background-color: #eff7f7;
  padding: 2rem 1.43rem 1.5rem 1.25rem;
  position: relative; }
  .client-say__text p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375; }
  .client-say__text::before {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    bottom: -1.25rem;
    right: 0;
    border-top: 1.25rem solid #eff7f7;
    border-left: 1.81rem solid transparent; }

.client-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1.25rem; }
  .client-info__text {
    color: #0b2a37;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 0.56rem;
    text-align: right; }
    .client-info__text p {
      margin: 0; }
      .client-info__text p:first-child {
        font-weight: 700;
        line-height: 1.625; }

.client-space {
  height: 3.56rem;
  width: 100%; }

.strong-pages {
  background: url("../img/heartAndBg.jpg") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 9.37rem 0 10rem 0;
  position: relative; }
  .strong-pages__title h2 {
    margin: 7.73rem 0 3.43rem 0;
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.25;
    text-align: left; }
  .strong-pages__btn {
    margin: 0; }

.strong-list {
  color: #ffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;
  text-align: left;
  max-width: 30rem; }
  .strong-list ul {
    padding: 0; }
  .strong-list li {
    margin: 2.74rem 0 2.86rem 0;
    position: relative; }
    .strong-list li::after {
      content: '';
      position: absolute;
      top: -.62rem;
      left: 0;
      width: 3.12rem;
      height: 2px;
      background-color: #8ae2e2; }
    .strong-list li:first-child {
      margin-top: 0; }
    .strong-list li:last-child {
      margin-bottom: 0; }

.know-more {
  text-align: center;
  padding: 3.12rem 0 2.5rem 0; }
  .know-more__title {
    margin: 0;
    color: #0b2a37;
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 0.667; }
  .know-more__text {
    margin: .5rem 0 2.25rem 0;
    color: #0b2a37;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.333; }

.logo_small > object {
  width: 13.87rem;
  height: 3.18rem; }

.footer-info {
  background-color: #0b2a37;
  padding: 5.18rem 0 5.87rem 0; }
  .footer-info .logo_small {
    text-align: center; }

.follow-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
  margin-top: 2.12rem; }
  .follow-us__text {
    margin: 0 .62rem 0 0; }
  .follow-us__social-wrapper {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .follow-us__rights {
    color: #ffff;
    margin: .87rem 0 0 0;
    font-size: 0.875rem;
    line-height: 1.429; }

.icon-social {
  width: 1.87rem;
  height: 1.87rem;
  -webkit-background-size: cover;
          background-size: cover; }
  .icon-social:nth-child(odd) {
    margin: 0 .62rem 0 .62rem; }

.facebook {
  background: url("../img/svg/FB-icon.svg") no-repeat center center; }

.twiiter {
  background: url("../img/svg/TW-icon.svg") no-repeat center center; }

.linkidin {
  background: url("../img/svg/in-icon.svg") no-repeat center center; }

.footer-list {
  text-align: left; }
  .footer-list__title {
    text-align: left;
    margin: 0 0 2.5rem 0; }
    .footer-list__title:last-child h4 {
      margin-bottom: 2.5rem; }
  .footer-list ul {
    padding: 0; }
  .footer-list li {
    color: #ffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.875; }

@media all and (max-width: 1439px) {
  body {
    font-size: 14px; }
  .header-help__help-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1.875rem;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .header-help__btn-help {
    width: 9.31rem; }
  .header-help__btn-call {
    width: 6.25rem; }
  .login__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 2.43rem 0 0; }
    .login__block li {
      width: 4rem; }
      .login__block li + li {
        margin-left: 0.93rem; }
  @-moz-document url-prefix() {
    .header-help__help-buttons {
      position: relative;
      left: 5.6rem; } }
  .btn-big {
    width: 13.125rem; }
  .working-title h2 {
    font-size: 3rem; }
  .working-list {
    margin: 0; }
    .working-list > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      .working-list > div:nth-child(2) {
        margin: 3rem 0 2rem 0;
        padding-left: 6rem;
        left: 3.5rem; }
      .working-list > div:last-child {
        margin-top: 4rem;
        padding-left: 5rem;
        left: 4rem; }
    .working-list .list-content {
      position: relative; }
      .working-list .list-content::after {
        content: '';
        top: 1.8rem;
        left: 15.375rem; }
      .working-list .list-content_second::after {
        top: 2.25rem;
        left: -16.375rem; }
      .working-list .list-content_third::after {
        top: 2.25rem; }
      .working-list .list-content_four::after {
        content: none; }
  .icon {
    margin-top: .5rem; }
  .client-info {
    margin-right: 0; }
  .strong-pages__title {
    position: relative;
    left: 4rem; }
    .strong-pages__title h2 {
      font-size: 4rem; }
  .footer-info h4 {
    font-size: 1.325rem; }
  .icon-social {
    width: 1.4rem;
    height: 1.4rem;
    -webkit-background-size: cover;
            background-size: cover; }
  .follow-us__rights {
    font-size: 0.7rem; }
  .footer-list ul {
    margin: 0; }
  .footer-list li {
    font-size: .9rem; } }

@media all and (min-width: 992px) and (max-width: 1200px) {
  .header-help__help-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1.875rem;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .header-help__btn-help {
    width: 9.31rem;
    font-size: .8rem; }
  .header-help__btn-call {
    width: 6.25rem;
    font-size: .8rem; }
  .login__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 2.43rem 0 0; }
    .login__block li {
      width: 4rem; }
      .login__block li + li {
        margin-left: 0.93rem; }
  .btn-big {
    width: 12.125rem;
    padding: 1.2rem 0 1.2rem 0; }
  .working-title h2 {
    font-size: 3rem; }
  .working-list {
    margin-left: 0; }
    .working-list > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: static; }
      .working-list > div:nth-child(2) {
        margin: 0;
        padding-left: 4rem; }
      .working-list > div:last-child {
        margin-top: 0;
        padding-left: 4rem; }
    .working-list .list-content {
      position: relative; }
      .working-list .list-content::after {
        content: none; }
  .client-info {
    margin-right: 0; }
  .strong-pages__title {
    position: static; }
    .strong-pages__title h2 {
      font-size: 4rem; }
  .footer-info h4 {
    font-size: 1.325rem; }
  .icon-social {
    width: 1.4rem;
    height: 1.4rem;
    -webkit-background-size: cover;
            background-size: cover; }
  .follow-us__rights {
    font-size: 0.7rem; }
  .footer-list ul {
    margin: 0; }
  .footer-list li {
    font-size: .9rem; } }

@media all and (max-width: 991px) {
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 3rem; }
  h3 {
    font-size: 2rem; }
  h4 {
    font-size: 1.2rem; }
  h5 {
    font-size: 1rem; }
  .header-help__help-buttons {
    display: none; }
  .btn-big {
    width: 11.125rem; }
  .categories-specialist__title {
    font-size: 2rem; }
  .specialist-list__item h4 {
    font-size: 1.2rem; }
  .working-title h2 {
    margin-top: 7.25rem;
    font-size: 3.5rem; }
  .working-list {
    padding-left: 6rem; }
    .working-list > div:nth-child(2) {
      position: static;
      padding-left: 9rem; }
    .working-list > div:last-child {
      position: static;
      padding-left: 9rem; }
  .our-clients__title {
    font-size: 2rem; }
  .client-space {
    display: none; }
  .clients-comments .row > div:nth-child(3) .client-say, .clients-comments .row > div:nth-child(5) .client-say {
    margin: 1rem 0; }
  .strong-pages__title {
    position: static; }
    .strong-pages__title h2 {
      font-size: 3rem; }
  .strong-list {
    font-size: 0.85rem; }
  .btn-big {
    padding: 1.162rem 0 1.162rem 0; }
  .know-more__title {
    font-size: 2rem; }
  .know-more__text {
    font-size: 1rem; }
  .follow-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .follow-us__text {
      margin: 0 0 .5rem 0; }
    .follow-us__social-wrapper {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex; }
    .follow-us__rights {
      text-align: center; }
  .footer-info {
    padding: 4.18rem 0 3.87rem 0; }
    .footer-info .logo {
      margin-top: 1rem; } }

@media all and (max-width: 768px) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.7rem; }
  .login__block {
    margin-right: 1rem; }
    .login__block li + li {
      margin: 0; }
  .categories-specialist__title {
    font-size: 1.7rem; }
  .specialist-list__item h4 {
    margin: 1.687rem 0 1.25rem 0; }
  .specialist-list__item.second h4, .specialist-list__item.four h4 {
    margin: 1.687rem 0 1.25rem 0; }
  .specialist-list__item.four {
    margin: 0; }
  .specialist-list__item {
    margin-bottom: 2rem; }
  .working-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .working-list > div:nth-child(2) {
      padding-left: 0; }
    .working-list > div:last-child {
      padding-left: 0; }
    .working-list .list-content {
      position: relative; }
      .working-list .list-content::after {
        content: none; }
  .our-clients__title {
    font-size: 1.7rem; }
  .client-info {
    margin-right: 3.1rem; }
  .clients-comments .row > div > .client-say {
    margin-bottom: 1rem; }
    .clients-comments .row > div > .client-say:last-child .client-say {
      margin: 0; }
  .strong-pages {
    padding-top: 7.37rem; }
    .strong-pages__title {
      margin-bottom: 3rem; }
      .strong-pages__title h2 {
        margin-top: 0; }
  .footer-list {
    text-align: center;
    margin-bottom: 2rem; }
    .footer-list h4 {
      text-align: center;
      margin-bottom: 1rem; } }

@media all and (max-width: 576px) {
  .logo object {
    width: 12.5rem; }
  .login {
    padding-top: .3rem; }
    .login__block {
      display: block; }
      .login__block li {
        width: 3.5rem; }
  .client-say__text {
    max-width: 100%; }
  .client-info {
    margin: 0; }
  .working-title h2 {
    font-size: 2.6rem; } }

@media all and (max-width: 480px) {
  .login {
    padding-top: .7rem; }
    .login__block {
      display: none; }
  .hero-text h1 {
    font-size: 2.8rem; }
  .hero-text h2 {
    font-size: 2.5rem; }
  .working-title h2 {
    font-size: 2.5rem; }
  .our-clients__title {
    line-height: 1; }
  .strong-pages__title h2 {
    font-size: 2.5rem; }
  .know-more__title {
    font-size: 1.8rem;
    line-height: 1; }
  .footer-list h4 {
    font-size: 1rem; }
  .footer-list li {
    font-size: .8rem; } }
